.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .pagination button {
        margin: 0 5px;
        padding: 5px 10px;
    }

        .pagination button.active {
            font-weight: bold;
            text-decoration: underline;
        }
